<div class="box" [formGroup]="form">

  <ng-container *ngIf="mode === 'left'">
    <div class="sec">FOR LICENSES</div>

    <div class="r"><div class="l">Permit to Purchase</div><input type="number" class="a" formControlName="licPermitToPurchase"></div>
    <div class="r"><div class="l">Filing Fee</div><input type="number" class="a" formControlName="licFilingFee"></div>
    <div class="r"><div class="l">Permit to Possess/Storage</div><input type="number" class="a" formControlName="licPermitToPossess"></div>
    <div class="r"><div class="l">Construction Permit Fee</div><input type="number" class="a" formControlName="licConstructionPermitFee"></div>
    <div class="r"><div class="l">Radio Station License</div><input type="number" class="a" formControlName="licRadioStationLicense"></div>
    <div class="r"><div class="l">Inspection Fee</div><input type="number" class="a" formControlName="licInspectionFee"></div>
    <div class="r"><div class="l">Spectrum User&#39;s Fee (SUF)</div><input type="number" class="a" formControlName="licSUF"></div>
    <div class="r"><div class="l">Fines and Penalties</div><input type="number" class="a" formControlName="licFinesPenalties"></div>
    <div class="r"><div class="l short">Surcharges</div><input type="number" class="a" formControlName="licSurcharges"></div>

    <div class="sec">OTHER APPLICATION</div>

    <div class="r"><div class="l">Registration Fee</div><input type="number" class="a" formControlName="appRegistrationFee"></div>
    <div class="r"><div class="l">Supervision And Regulation Fee</div><input type="number" class="a" formControlName="appSupervisionRegulationFee"></div>
    <div class="r"><div class="l">Verification Fee And Authentication</div><input type="number" class="a" formControlName="appVerificationAuthFee"></div>
    <div class="r"><div class="l">Examination Fee</div><input type="number" class="a" formControlName="appExaminationFee"></div>
    <div class="r"><div class="l">Clearance/Certification Fee</div><input type="number" class="a" formControlName="appClearanceCertificationFee"></div>
    <div class="r"><div class="l">Modification Fee</div><input type="number" class="a" formControlName="appModificationFee"></div>
    <div class="r"><div class="l">Miscellaneous Income</div><input type="number" class="a" formControlName="appMiscIncome"></div>
    <div class="r"><div class="l short">Others</div><input type="number" class="a" formControlName="appOthers"></div>
  </ng-container>

  <ng-container *ngIf="mode === 'mid'">
    <div class="sec">FOR PERMITS</div>

    <div class="r">
      <div class="l">
        Permit Fees (Dealers/Reseller/Service<br>
        Center/Sell/Transfer/REC/Import/ TVRO)
      </div>
      <input type="number" class="a" formControlName="perPermitFees">
    </div>
    <div class="r"><div class="l">Inspection Fee</div><input type="number" class="a" formControlName="perInspectionFee"></div>
    <div class="r"><div class="l">Filing Fee</div><input type="number" class="a" formControlName="perFilingFee"></div>
    <div class="r"><div class="l short">Surcharges</div><input type="number" class="a" formControlName="perSurcharges"></div>

    <div class="sec">FOR AMATUER AND ROC</div>

    <div class="r"><div class="l">Radio Station License</div><input type="number" class="a right" formControlName="amRadioStationLicense"></div>
    <div class="r"><div class="l">Radio Operator&#39;s Cert.</div><input type="number" class="a right" formControlName="amRadioOperatorsCert"></div>
    <div class="r"><div class="l">Application Fee</div><input type="number" class="a" formControlName="amApplicationFee"></div>
    <div class="r"><div class="l">Filing Fee</div><input type="number" class="a" formControlName="amFilingFee"></div>
    <div class="r"><div class="l">Seminar Fee</div><input type="number" class="a" formControlName="amSeminarFee"></div>
    <div class="r"><div class="l short">Surcharges</div><input type="number" class="a right" formControlName="amSurcharges"></div>

    <div class="sec small">Documentary Stamp</div>
    <div class="r"><div class="l">Documentary Stamp Tax (DST)</div><input type="number" class="a right" formControlName="dst"></div>

    <div class="totalRow">
  <div class="totalLbl">TOTAL AMOUNT</div>
  <div class="totalBox">
    <input
      type="number"
      class="totalIn"
      [value]="
        (form.get('licPermitToPurchase')?.value || 0) +
        (form.get('licFilingFee')?.value || 0) +
        (form.get('licPermitToPossess')?.value || 0) +
        (form.get('licConstructionPermitFee')?.value || 0) +
        (form.get('licRadioStationLicense')?.value || 0) +
        (form.get('licInspectionFee')?.value || 0) +
        (form.get('licSUF')?.value || 0) +
        (form.get('licFinesPenalties')?.value || 0) +
        (form.get('licSurcharges')?.value || 0) +

        (form.get('appRegistrationFee')?.value || 0) +
        (form.get('appSupervisionRegulationFee')?.value || 0) +
        (form.get('appVerificationAuthFee')?.value || 0) +
        (form.get('appExaminationFee')?.value || 0) +
        (form.get('appClearanceCertificationFee')?.value || 0) +
        (form.get('appModificationFee')?.value || 0) +
        (form.get('appMiscIncome')?.value || 0) +
        (form.get('appOthers')?.value || 0) +

        (form.get('perPermitFees')?.value || 0) +
        (form.get('perInspectionFee')?.value || 0) +
        (form.get('perFilingFee')?.value || 0) +
        (form.get('perSurcharges')?.value || 0) +

        (form.get('amRadioStationLicense')?.value || 0) +
        (form.get('amRadioOperatorsCert')?.value || 0) +
        (form.get('amApplicationFee')?.value || 0) +
        (form.get('amFilingFee')?.value || 0) +
        (form.get('amSeminarFee')?.value || 0) +
        (form.get('amSurcharges')?.value || 0) +

        (form.get('dst')?.value || 0)
      "
      readonly
    />
  </div>
</div>

  </ng-container>

</div>