<div #printArea class="a4-landscape">
  <div class="soa-half">
    <ng-container *ngTemplateOutlet="soaTemplate"></ng-container>
  </div>

  <div class="soa-half">
    <ng-container *ngTemplateOutlet="soaTemplate"></ng-container>
  </div>
</div>

<!-- HTML TEMPLATE -->
<ng-template #soaTemplate>
  <div class="soa-page">
    <div class="header">
      <div class="subtitle">NATIONAL TELECOMMUNICATIONS COMMISSION</div>
      <div class="title">Statement of Account</div>
      <div>Servicing Unit Copy</div>
    </div>

    <div style="margin-top: 6px; margin-bottom: 6px;">
      <div><b>Date</b> : &nbsp; October 29, 2003</div>
      <div><b>SOA No.</b> : &nbsp; SOA-2026-001</div>
      <div><b>Name</b> : &nbsp; <span class="u">Christian Dacillo</span></div>
      <div><b>Address</b> : &nbsp; Salugan Camalig</div>

      <div style="margin-top: 4px; display: flex; gap: 14px; flex-wrap: wrap;">
        <span>☐ New</span>
        <span>☐ Ren</span>
        <span>☐ ECO</span>
        <span>☐ CV</span>
        <span>☐ MOD</span>
        <span>☐ ROC</span>
      </div>

      <div style="margin-top: 4px; display: flex; align-items: center; gap: 6px;">
        <b>Particulars:</b>
        <span class="box" style="display: inline-block; width: 210px; height: 18px;"></span>
      </div>
    </div>

    <div class="table-wrap">
      <table>
        <thead>
          <tr>
            <th class="code">CODE</th>
            <th>PARTICULARS</th>
            <th class="amt">TOTAL</th>
          </tr>
        </thead>

        <tbody>
          <tr class="section"><td colspan="3">FOR LICENSES</td></tr>
          <tr><td></td><td>Permit to Purchase</td><td class="amt">384.00</td></tr>
          <tr><td></td><td>Filing Fee</td><td class="amt">720.00</td></tr>
          <tr><td></td><td>Permit to Possess / Storage</td><td class="amt">240.00</td></tr>
          <tr><td></td><td>Construction Permit Fee</td><td class="amt">0.00</td></tr>
          <tr><td></td><td>Radio Station License</td><td class="amt">0.00</td></tr>
          <tr><td></td><td>Inspection Fee</td><td class="amt">2,640.00</td></tr>
          <tr><td></td><td>Spectrum User’s Fee (SUF)</td><td class="amt">88.00</td></tr>
          <tr><td></td><td>Surcharges</td><td class="amt">0.00</td></tr>
          <tr><td></td><td>Fines and Penalties</td><td class="amt">0.00</td></tr>

          <tr class="section"><td colspan="3">FOR PERMITS</td></tr>
          <tr><td></td><td>Permit (Dealer / Reseller / Service Center)</td><td class="amt">0.00</td></tr>
          <tr><td></td><td>Inspection Fee</td><td class="amt">0.00</td></tr>
          <tr><td></td><td>Filing Fee</td><td class="amt">0.00</td></tr>
          <tr><td></td><td>Surcharges</td><td class="amt">0.00</td></tr>

          <tr class="section"><td colspan="3">FOR AMATEUR AND ROC</td></tr>
          <tr><td></td><td>Radio Station License</td><td class="amt">0.00</td></tr>
          <tr><td></td><td>Radio Operator’s Certificate</td><td class="amt">0.00</td></tr>
          <tr><td></td><td>Application Fee</td><td class="amt">0.00</td></tr>
          <tr><td></td><td>Filing Fee</td><td class="amt">0.00</td></tr>
          <tr><td></td><td>Seminar Fee</td><td class="amt">0.00</td></tr>
          <tr><td></td><td>Surcharges</td><td class="amt">0.00</td></tr>

          <tr class="section"><td colspan="3">OTHER APPLICATION</td></tr>
          <tr><td></td><td>Registration Fee</td><td class="amt">0.00</td></tr>
          <tr><td></td><td>Supervision / Regulation Fee</td><td class="amt">0.00</td></tr>
          <tr><td></td><td>Verification / Authentication Fee</td><td class="amt">0.00</td></tr>
          <tr><td></td><td>Examination Fee</td><td class="amt">0.00</td></tr>
          <tr><td></td><td>Clearance / Certification Fee (Special)</td><td class="amt">0.00</td></tr>
          <tr><td></td><td>Modification Fee</td><td class="amt">0.00</td></tr>
          <tr><td></td><td>Miscellaneous Income</td><td class="amt">0.00</td></tr>
          <tr><td></td><td>Documentary Stamp Tax (DST)</td><td class="amt">120.00</td></tr>
          <tr><td></td><td>Others</td><td class="amt">0.00</td></tr>

          <tr class="total">
            <td colspan="2">TOTAL AMOUNT</td>
            <td class="amt">4,192.00</td>
          </tr>
        </tbody>
      </table>

      <div class="remarks">
        <div style="margin-bottom: 6px;"><b>Date:</b> 1.8.2025</div>

        <div style="font-size: 8pt; line-height: 1.2; margin-bottom: 10px;">
          <b>NOTE:</b><br />
          To be paid on or before <b>07-Feb-25</b><br />
          otherwise subject to reassessment.<br /><br />
          Application Forms can be downloaded at<br />
          <span class="link">https://ntc5.ntc.gov.ph/reports/</span>
        </div>

        <div class="remarks-title">Remarks</div>
        <div class="remarks-box" style="height: 150px;"></div>
      </div>
    </div>

    <div style="margin-top: 6px; font-size: 8pt;">
      <b>NOTE:</b> To be paid on or before the due date otherwise subject to reassessment.
    </div>

    <div style="margin-top: 6px; font-size: 8pt; display: flex; gap: 30px;">
      <span>☐ For Assessment Only</span>
      <span>☐ Endorsed for Payment</span>
    </div>
  </div>
</ng-template>
