.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
  width: 98vw;
  background-color: #FEFAF6;
}

.generate-btn {
  background-color: #305973;
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
}

.generate-btn:hover {
  background-color: #59AC77;
}
